html {
    background: #E8E8E8;
    font-family: Verdana;
}
body {
    margin: 0;
}
#container {
    max-width: 60em;
    position: center;
    margin: auto;
    height: 100%;
    background: #FFF;
    border-top-left-radius: 20px;
}
#info {
    width: 50%;
    padding-top: 2em;
    padding-left: 2em;
}
#one {
    font-size: 14px;
    font-weight: bold;
    color: #545454;
    margin: 0;
}
#two {
    font-size: 20px;
    font-weight: bold;
    color: #60BD3C;
    margin: 0;
}
#three {
    font-size: 14px;
    color: #545454;
}
#four {
    font-size: 14px;
    color: #545454;
}
#five {
    font-size: 14px;
    color: #545454;
}
#arrowButton {
    font-size: 50px;
    color: #60BD3C;
}
#arrowButton:hover {
    opacity: 0.8;
    cursor: pointer;
}
#info2 {
    width: 55%;
    display: flex;
    float:right;
}
#column1 {
    width: 12em;
    flex-wrap: wrap;
}
#column2 {
    width: 12em;
    flex-wrap: wrap;
}
#column1_2 {
    margin-top: 8.5em;
    flex-wrap: wrap;
    margin-left: 0.5em;
}
#column2_2 {
    margin-top: 7.5em;
    width: 2em;
    flex-wrap: wrap;
    margin-right: 0.5em;
}
#title1 {
    font-size: 20px;
    font-weight: bold;
    color: #545454;
    margin: 0;
    text-align: center;
}
#title2 {
    font-size: 20px;
    font-weight: bold;
    color: #545454;
    margin: 0;
    text-align: center;
}
#greenbox1 {
    width: 12em;
    margin-right: 5em;
    height: 6em;
    background: #60BD3C;
    margin-top: 0.5em;
}
#greenbox1text {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}
#bluebox1 {
    width: 12em;
    height: 3.5em;
    background: #2485CE;
    margin-top: 0.5em;
}
#bluebox1text {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}
#plusSign {
    color: #DF5B22;
    pointer-events:none;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 56px;
}
#greenbox2 {
    width: 12em;
    margin-right: 5em;
    height: 10em;
    background: #60BD3C;
}
#greenbox2text {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}
#bluebox2 {
    width: 12em;
    height: 4em;
    background: #2485CE;
}
#bluebox2text {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}
#orangebox { 
    width: 12em;
    height: 5em;
    background: #F09821;
}
#orangeboxtext {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 5em solid transparent;
    border-bottom: 5em solid transparent;
    
    border-left: 1.5em solid #DF5B22;
  }
#rectangle {
    width: 1em;
    height: 5em;
    background: #DF5B22;
    margin-top: 1.5em;
}
#leftInfo {
    display: none;
}
#leftColumn {
    display: none;
    flex-wrap: wrap;
    width: 24em;
}
#leftColumn2 {
    display: none;
    flex-wrap: wrap;
    width: 12em;
    background: #545454;
    margin-top: 0.5em;
  /*  margin-bottom: 0.5em; */
    margin-left: 1em;
    margin-right: 1.5em;
}
#leftColumn3 {
    display: none;
    flex-wrap: wrap;
    width: 22em;
}
#titleGrey {
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: bold;
  /*  line-height: 30px; */
}
#lineColumns {
    width: 42em;
    display: none;
    height: 1em;
    margin-left: 7em;
}
#lineColumn1 {
    width: 29em;
    flex-wrap: wrap;
    border-right: 2px solid #545454;
    border-bottom: 4px solid #545454;
}
#lineColumn2 {
    width: 27em;
    flex-wrap: wrap;
    border-left: 2px solid #545454;
    border-bottom: 4px solid #545454;
}
#lineColumns2 {
    width: 56em;
    display: none;
    height: 1em;
}
#lineColumn3 {
    width: 7em;
    flex-wrap: wrap;
    border-right: 2px solid #545454;
}
#lineColumn4 {
    width: 7em;
    flex-wrap: wrap;
    border-left: 2px solid #545454;
}
#lineColumn5 {
    width: 7em;
    flex-wrap: wrap;
    border-right: 2px solid #545454;
}
#lineColumn6 {
    width: 7em;
    flex-wrap: wrap;
    border-left: 2px solid #545454;
}
#lineColumn7 {
    width: 7em;
    flex-wrap: wrap;
    border-right: 2px solid #545454;
}
#lineColumn8 {
    width: 7em;
    flex-wrap: wrap;
    border-left: 2px solid #545454;
}
#lineColumn9 {
    width: 7em;
    flex-wrap: wrap;
    border-right: 2px solid #545454;
}
#lineColumn10 {
    width: 7em;
    flex-wrap: wrap;
    border-left: 2px solid #545454;
}
#fillColumns {
    width: 56em;
    display: none;
    height: 4em;
}
#fillColumn1 {
    width: 14em;
    flex-wrap: wrap;
    background: #60BD3C;
    margin-right: 2em;
}
#fillColumn2 {
    width: 14em;
    flex-wrap: wrap;
    background: #60BD3C;
    margin-right: 2em;
}
#fillColumn3 {
    width: 14em;
    flex-wrap: wrap;
    background: #60BD3C;
    margin-right: 2em;
}
#fillColumn4 {
    width: 14em;
    flex-wrap: wrap;
    background: #60BD3C;
}
.empty {
    margin: 0.25em; 
    background: #78ce4d;
    height: 3.5em;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#textColumns {
    width: 56em;
    display: none;
    height: 18em;
}
#textColumn1 {
    width: 14em;
    flex-wrap: wrap;
    margin-right: 2em;
    border: 6px solid #e5e5e5;
    border-bottom-right-radius: 30px;
}
#textColumn2 {
    width: 14em;
    flex-wrap: wrap;
    margin-right: 2em;
    border: 6px solid #e5e5e5;
    border-bottom-right-radius: 30px;
}
#textColumn3 {
    width: 14em;
    flex-wrap: wrap;
    margin-right: 2em;
    border: 6px solid #e5e5e5;
    border-bottom-right-radius: 30px;
}
#textColumn4 {
    width: 14em;
    flex-wrap: wrap;
    border: 6px solid #e5e5e5;
    border-bottom-right-radius: 30px;
}
#firstText {
    font-size: 12px;
    color: #545454;
    margin: 0.5em;
}
#secondText {
    font-size: 12px;
    color: #545454;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0;
}
#secondText2 {
    font-size: 12px;
    color: #E05314;
    margin-left: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}
#secondText3 {
    font-size: 12px;
    color: #545454;
    margin-top: 0;
    margin-left: 0.5em;
}
#thirdText {
    font-size: 12px;
    color: #545454;
    margin: 0.5em;
}
#fourthText {
    font-size: 12px;
    color: #545454;
    margin: 0.5em;
}
#dragColumns {
    width: 51em;
    display: none;
    height: 3.5em;
    margin-top: 0.5em;
    margin-left: 2.5em;
    margin-right: 2.5em;
}
.dragColumn {
    width: 13.5em;
    background: #e5e5e5;
    margin-right: 1em; 
    border-bottom-left-radius: 20px;
}
/*
.dragColumn2 {
    width: 13.5em;
    background: #e5e5e5;
    border-bottom-left-radius: 20px;
}
.dragColumn3 {
    width: 13.5em;
    background: #e5e5e5;
    margin-right: 1em;
    border-bottom-left-radius: 20px;
}
.dragColumn4 {
    width: 13.5em;
    background: #e5e5e5;
    margin-right: 1em;
    border-bottom-left-radius: 20px;
} */
.fill {
    background: #78ce4d;
    height: 3.5em;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/*
.fill2 {
    background: #78ce4d;
    height: 3.5em;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.fill3 {
    background: #78ce4d;
    height: 3.5em;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.fill4 {
    background: #78ce4d;
    height: 3.5em;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
} */
#fillText1 {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 3.5em;
}
#fillText2 {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 3.5em;
}
#fillText3 {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 3.5em;
}
#fillText4 {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 2em;
}